:root{
     --chocalat:#4E342E;
     --creme:#F5E1C8;
     --dore:#D4AF37;
     --rose:#F8BBD0;
     --blanc-casse:#FAF3E0;
     --pistache:#A8C686;
     --ivoire:#FFF8E7;

}
header{

    background-color: var(--chocalat);
    color: white;
    padding: 6px;
    text-align: center;
     position: fixed;
     width: 100%;
     z-index: 5;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 5px;
}
ul{
    list-style: none;
}
.nav-menu{
    display: flex;
     gap: 25px;
     padding: 10px 10px;
}
.nav-link{
     display: flex;
    text-decoration: none;
    justify-content: center;
    color:var(--blanc-casse);
    transition: 0.3s ease;
    cursor: pointer;
   border-radius: 40px;
    width: 120px;
    height: 20px;
    margin: 0 0;
    font-size: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    font-weight: 400;
}
.nav-link:hover{
    background: var(--dore);
    transition: O.3s ease;
    
    
}
.navbar img{
    width: 100px;
    border-radius: 100px;
}

.burger {
    display: none; 
    cursor: pointer;
}

.burger .bar {
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--chocalat);
    transition: all 0.3s ease-in-out;
}


/*Responsive partie*/

@media (max-width: 900px) {
   header{
    min-height: -100vh;
    background: transparent;
   }
    .navbar img{
        width:40px;
       
    }
    .nav-menu {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 70px; 
        right: -200%; 
        width: 100%;
        height: calc(100vh - 70px); 
        background-color:var(--ivoire);
        backdrop-filter: blur(5px); 
        gap: 40px;
        transition: right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        z-index: 999; 
        
    }
    .nav-menu .nav-link{
        color: #4E342E;
    }

    
    nav ul.nav-active {
        right: 0; 
    }

    .burger {
        display: block; 
     
    }

   
    .burger.toggle .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .burger.toggle .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.toggle .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
   
}
  
/*CSS ACCUEIL*/
#home{
    display: flex;
    gap: 15px;
    padding: 0 20px;
    background:var(--ivoire);
    color: var(--chocalat);
    align-items: center;
    justify-content: space-between;
      min-height: 100vh;
}
#home img{
    width: 400px;
    height: 100%;
    left: 100px;
    right: 0;
}

#home h2{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 0 10px;
    padding-top: 0 ;
}
#home p{
    font-size: 2rem;
    font-weight: 300;
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;
}

.btn a{
   display: flex;
    justify-content: space-between;
     background-color: var(--chocalat);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn a:hover{
    background:transparent ;
    color: #4E342E;
}

@media(max-width:900px){
  #home p{
   font-size: 0.9s;
  }
    #home,
    #contact{
        flex-direction: column-reverse;
       align-items: center;
    }
     #home{
        padding: 0;
        gap: 6px;
    }
    #home{
        width:100%;
    }
    #contact .parti{
        height: 80px;
    }
    #contact img{
        width: 80px;
    }
   #home img{
    width: 300px;
   }
    
    .btn a {
        top: 43%;
        justify-content: space-between;
    }
    .btn a{
        margin: 23px 0 40px;
    }
    #footer{
        position: none;
    }
} 

/*CSS A PROPOS*/

#about{
  display: flex;
    gap: 80px;
    padding: 0 20px;
    background:var(--creme);
    color: var(--chocalat);
    align-items: center;
    justify-content: space-between;
      min-height: 100vh;
}
#about img{
    border-radius: 25%;
    width: 300px;
}
.contenu h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.contenu p ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 300;

    
}
.contenu ul{
    list-style: circle;
}
.contenu a{
   background-color: var(--pistache);
    color: white;
    padding:  15px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.contenu a:hover{
    background-color: var(--creme);
    color: #A8C686;
}

@media(max-width:900px){
    #about{
        flex-direction: column;
        align-items: center;
        top: 50%;
    }
     #about{
        padding: 0;
    }

    #about{
        width:100%;
    }
   #about img,
   .carousel img,
   .carousel video{
    width: 300px;
    border-radius:50% ;
   }
    .contenu p, .contenu ul, .contenu a{
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
    }
    .contenu a{
        top: 43%;
        width: 100%;
    }
    .contenu a{
        margin: 23px 0 40px;
    }
} 

/*MENU CSS*/
#catalogue{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2.5rem;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background: #4E342E;
    color: var(--creme);

}
#menu{
   align-items: center;
   min-height: 100%;
   background: #4E342E;
   color: var(--creme);
}
#menu h2{
    font-size: 2rem;
    font-weight:300 ;
    text-align: center;
}
#catalogue .gateau{
    width: 200px;
    background:var(--creme);
    padding: 30px;
    color: #4E342E;
    border-radius: 16px;
    box-shadow: 10px  10px 15px rgb(0, 0, 0,0.05);
    text-align: center;
}
#catalogue .gateau .btn{
    background-color: var(--pistache);
    color: var(--chocalat);
    padding:  15px 10px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center;
}
#catalogue .gateau .btn:hover{
    background:var(--chocalat);
    color: #A8C686;

}

/*PANIER CSS*/
#panier{
     width: 400px;
    background:var(--creme);
    padding: 15px;
    color: #4E342E;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.05);
    text-align: center;
    margin: 20px auto;
}
#panier h2 {
 margin-top: 0;
}
 ul{
    list-style: none;
    padding: 0;
}
 li{
padding: 5px 0;
}
#command{
    background-color: var(--pistache);
    color: var(--chocalat);
    padding:  15px 10px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center;
}
#command:hover{
     background:var(--chocalat);
    color: #A8C686;
}
#alert{
position: fixed;
    top: 30px;
    right: 30px;
    min-width: 200px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
}

/*GALERIE*/
#galerie{
   align-items: center;
    background: var(--ivoire);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    color: #4E342E;
    padding: 20px;
}
#galerie h2{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 1.8rem;
}
.carousel{
    
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1.5rem;
    padding: 20px;
    max-width: 1200px;
    
    margin: auto;
    border-radius:10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0,0.3);
}
.carousel img,
.carousel video{
    width: 80%;
    height: 80%; 
    border-radius: 16px;
    box-shadow: 10px  10px 15px rgb(0, 0, 0,0.05);
    text-align: center;

 

}
.carousel img .active{
   
    opacity: 1;
}

.carousel button{
     background-color: var(--pistache);
    color: var(--chocalat);
    padding:  15px 10px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center;
    cursor: pointer;
}
.carousel button{
     background:var(--chocalat);
    color: #A8C686;
}
.carousel button a{
    text-decoration: none;
    color: #A8C686;
    font-size: 0.8rem;
    font-family: 'Poppins',sans-serif;
    
}
/*CONTACT*/
#contact{
    display: flex;
    padding: 0 20px;
    background:var(--ivoire);
    color: var(--chocalat);
    align-items: center;
    justify-content: space-between;
      min-height: 100vh;
}

#contact .part{
    width: 300px;
    height: 100%; 
    padding: 0 20px;
    border-radius: 16px;
    box-shadow: 10px  10px 15px rgb(0, 0, 0,0.05);
    text-align: center;

}

#contact-form {
    max-width: 600px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#contact-form input, #contact-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-secondary);
    font-family: 'Poppins',sans-serif;
}

#contact-form button {
    padding: 12px 20px;
    background-color: var(--pistache);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins',sans-serif;
}

#contact-form button:hover {
    background-color: var(--chocalat);
}
#contact img{
    width: 300px;
    border-radius: 50%;
}
#contact .parti{
     width: 300px;
    height: 80%; 
    padding: 0 20px;
    border-radius: 16px;
    box-shadow: 10px  10px 15px rgb(0, 0, 0,0.05);
    text-align: center;
}

#footer{
    background-color: var(--chocalat);
    color: var(--creme);
    padding: 6px;
    text-align: center;
   position: fixed;
   bottom: 0;
   left: 0;
     width: 100%;
     z-index: 1000;
  
    
}